extends layout

block content
  h1= title
  p
    a(href='/list') List All
  p 
    a(href='/') Index
  p Welcome to #{title}
  p File 
    span#markdownfile #{markdownfile}
  #mscratch-save Save
  #mscratch-edit Edit
  #mscratch-delete Delete
  .wmd-panel
    #wmd-button-bar
    textarea.wmd-input#wmd-input #{text}
  #wmd-preview.wmd-panel.wmd-preview