doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
    script(type="text/javascript", src='/javascripts/Markdown.Converter.js')
    script(type="text/javascript", src='/javascripts/Markdown.Sanitizer.js')
    script(type="text/javascript", src='/javascripts/Markdown.Editor.js')
    script(type="text/javascript", src='/javascripts/jquery-1.8.2.min.js')
    script(type="text/javascript", src='/javascripts/mscratch.js')
  body
    block content